pandas
imbalanced-learn
numpy==2.4.3
nltk
matplotlib
wordcloud
emoji
empath
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
seaborn
scikit-learn==1.8.0
streamlit>=1.30.0
textstat
joblib
altair>=6.0.0,<7
lightgbm==4.6.0
plotly>=6.6.0,<7
contractions
huggingface-hub
scipy